*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 54px;
    background: #eff14d42;
    color: #0682a8;
    height: 90px;
}
header .foto {
    width: 70px;
    height: 70px;
    padding: 30px;
}
section {
    margin: 50px 10%;
    color: #333;
}
.container {
    display: flex;
}
nav {
    width: 30%;
}
section {
    width: 70%;
}
section i,section a {
    color: #666;
    text-decoration: none;
}
section b {
    color: #0682a8;
}
.navigation {
  width: 300px;
}
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainmenu {
  display: block;
  background-color: #eff14d42;
  text-decoration: none !important;
  padding: 10px;
  color: #0682a8;
  line-height: 24px;
  height: 100vh;
}
.mainmenu a:hover {
    background-color: #C5C5C5;
}
.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}
.submenu a {
  background-color: #999;
}
.submenu a:hover {
  background-color: #666;
}
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 1.5s ease-out;
  margin-left: 10px;
}
